@import "../../scss/functions";

.hero {
  contain: layout;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(24);
  min-height: 50vh;

  @media (min-width: breakpoint(md)) {
    gap: rem(40);
  }

  .hero-wrapper {
    display: grid;
    align-items: center;
    column-gap: rem(64);
    row-gap: rem(32);

    @media (min-width: breakpoint(lg)) {
      grid-template-columns: repeat(2, 1fr);
    }

    .text {
      width: 100%;
      max-width: rem(800);
    }

    .image {
      img {
        width: 100%;
        
        @media (min-width: breakpoint(lg)) {
          box-shadow: rem(10) rem(10) rem(20) rgba(15, 16, 10, 0.75);
        }
      }
    }
  }
}
