$breakpoints: (
  xs: 15em,    // Ab 240px
  sm: 40em,    // Ab 640px
  md: 48em,    // Ab 768px
  lg: 64em,    // Ab 1024px
  xl: 80em,    // Ab 1280px
  xxl: 96em    // Ab 1536px
);

$gaps: (
  0,
  1,
  2,
  4,
  6,
  8,
  10,
  12,
  14,
  16,
  20,
  24,
  28,
  32,
  36,
  40,
  44,
  48,
  56,
  64,
  80
);
