@use "variables";
@import "functions";

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}

.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.grid-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

.grid-rows-5 {
  grid-template-rows: repeat(5, 1fr);
}

@each $breakpoint, $value in variables.$breakpoints {
  @media screen and (min-width: $value) {
    .#{$breakpoint}-grid {
      display: grid;
    }

    .#{$breakpoint}-grid-cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .#{$breakpoint}-grid-cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    .#{$breakpoint}-grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    .#{$breakpoint}-grid-cols-5 {
      grid-template-columns: repeat(5, 1fr);
    }

    .#{$breakpoint}-grid-rows-2 {
      grid-template-rows: repeat(2, 1fr);
    }

    .#{$breakpoint}-grid-rows-3 {
      grid-template-rows: repeat(3, 1fr);
    }

    .#{$breakpoint}-grid-rows-4 {
      grid-template-rows: repeat(4, 1fr);
    }

    .#{$breakpoint}-grid-rows-5 {
      grid-template-rows: repeat(5, 1fr);
    }
  }
}
